.logo-icon {
  font-size: 6rem;
  color: var(--ion-color-primary);
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.logo-text {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--ion-color-primary);
}
