<ion-content>
  <ion-icon name="book-outline" class="logo-icon"> </ion-icon>
  <ion-title class="logo-text">BOOKNOTE</ion-title>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Confirm Password</ion-label>
            <ion-input
              type="password"
              formControlName="passwordConfirm"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="round" expand="block"
            >Register</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="ion-text-center">
            Already have an account?
            <ion-text color="primary" (click)="goToLogin()"
              ><strong>Log in.</strong></ion-text
            >
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
