<ion-header>
  <ion-toolbar>
    <ion-title>Update Book</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" padding>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input
      [(ngModel)]="title"
      placeholder="Enter title"
      required
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Author</ion-label>
    <ion-input
      [(ngModel)]="author"
      placeholder="Enter author"
      required
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Genre</ion-label>
    <ion-select [(ngModel)]="genre">
      <ion-select-option value="history">History</ion-select-option>
      <ion-select-option value="fantasy">Fantasy</ion-select-option>
      <ion-select-option value="horror">Horror</ion-select-option>
      <ion-select-option value="thriller">Thriller</ion-select-option>
      <ion-select-option value="nonfiction">Nonfiction</ion-select-option>
      <ion-select-option value="drama">Drama</ion-select-option>
      <ion-select-option value="comedy">Comedy</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="rating">
    <ion-icon
      *ngFor="let star of getStarsArray()"
      [name]="starIconName(star)"
      (click)="selectRating(star)"
      class="star-icon"
    ></ion-icon>
  </div>
  <ion-button (click)="updateBook()" class="custom-button" shape="round"
    >Update Book</ion-button
  >
  <ion-button
    (click)="deleteBook()"
    class="custom-button"
    shape="round"
    color="danger"
    >Delete Book</ion-button
  >
</ion-content>
