.custom-button {
  max-width: 150px;
  margin: 0 auto;
  margin: 10px;
}

.star-icon-gold {
  margin: 10px;
  font-size: 40px;
  color: gold;
}

.star-icon-primary {
  margin: 10px;
  font-size: 40px;
  color: var(--ion-color-primary);
}
