.custom-button {
  max-width: 150px;
  margin: 0 auto;
  margin: 10px;
  margin-top: 30px;
}

.star-icon-gold {
  margin: 10px;
  font-size: 40px;
  color: gold;
}

.star-icon-primary {
  margin: 10px;
  font-size: 40px;
  color: var(--ion-color-primary);
}

.username-icon {
  display: flex;
  align-items: center;
  // centriranje ove ikonice, zamalo
}

.comment-input {
  color: white;
  font-size: 14px;
}

.comment-input-own {
  color: var(--ion-color-primary);
  font-size: 14px;
}

.add-comment-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.add-comment-input {
  flex: 1;
  font-size: 15px;
  color: var(--ion-color-primary);
}

.add-comment-button {
  margin-left: 10px;
  margin-right: 10px;
  ion-icon {
    --ion-icon-stroke-width: 1.5px;
  }
}
