<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let user of usersWithBooks">
      <ion-item>
        <ion-icon name="person-circle-outline" color="white"></ion-icon>
        <ion-label class="username"
          ><strong>{{ user.username }}</strong></ion-label
        >
      </ion-item>
      <div class="container">
        <ion-grid>
          <ion-row>
            <ion-col size="12" *ngFor="let book of user.books">
              <div class="book" [ngClass]="'genre-' + book.genre">
                <span class="author">{{ book.author }}</span>
                <span class="title"> {{ book.title }}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
