<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="userSearchTerm"
    placeholder="Search users"
    (ionInput)="filterUsersAndBooks()"
  ></ion-searchbar>

  <ion-searchbar
    [(ngModel)]="bookSearchTerm"
    placeholder="Search books or authors"
    (ionInput)="filterUsersAndBooks()"
  ></ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let user of filteredUsers">
      <ion-item>
        <ion-icon name="person-circle-outline" color="white"></ion-icon>
        <ion-label class="username"
          ><strong>{{ user.username }}</strong></ion-label
        >
      </ion-item>
      <div class="container">
        <ng-container *ngIf="user.books.length > 0">
          <ng-container *ngFor="let book of user.books">
            <div
              class="book"
              [ngClass]="'genre-' + book.genre"
              *ngIf="matchesSearchTerm(book.title) || matchesSearchTerm(book.author)"
            >
              <span class="author">{{ book.author }}</span>
              <span class="title"> {{ book.title }}</span>
              <ion-button
                (click)="likeBook(book)"
                size="small"
                [disabled]="likedBooks.includes(book.id) || isReader(book)"
                >Like</ion-button
              >
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
