<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let book of books">
          <div
            class="book-card"
            [ngClass]="'genre-' + book.genre"
            (click)="openUpdateBookModal(book)"
          >
            <h2>{{ book.title }}</h2>
            <p>By {{ book.author }}</p>
            <div class="rating">
              <ion-icon
                *ngFor="let star of getStars(book.rating)"
                name="star"
                class="star-icon"
              ></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openAddBookModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
