.filter {
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 40%;
  position: relative;
}

.arrow-icon {
  position: absolute;
  font-size: 24px;
  color: var(--ion-color-primary);
}

.arrow-icon.left {
  left: 0;
}

.arrow-icon.right {
  right: 0;
}

.container {
  padding: 5px;
}

ion-grid {
  margin-top: 50px;
}

.book-card {
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  height: 250px;
  width: 160px;
  margin: 0 auto;
  position: relative; // Da bi dao kontekst - da rating zna gde sa svojim position: absolute
}

.rating {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute; // Apsolutna pozicija, ali u odnosu na svog roditelja (book-card)
  //Dozvoljava namestanje sa bottom, top, right, left
  bottom: 0; // Fiksira ga dole
  left: 50%; // Centriranje
  transform: translateX(-50%);
  width: 100%;
  max-width: 160px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  box-sizing: border-box;
}
.star-icon {
  font-size: 14px;
  margin: 2px;
}

.genre-history {
  background-color: var(--color-history);
}

.genre-fantasy {
  background-color: var(--color-fantasy);
}

.genre-horror {
  background-color: var(--color-horror);
}

.genre-thriller {
  background-color: var(--color-thriller);
}

.genre-nonfiction {
  background-color: var(--color-nonfiction);
}

.genre-drama {
  background-color: var(--color-drama);
}

.genre-comedy {
  background-color: var(--color-comedy);
}
