.container {
  padding: 20px;
}

.book-card {
  background-color: #6495ed;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  height: 250px;
  width: 160px;
  margin: 0 auto;
}

ion-grid {
  margin-top: 50px;
}
