.container {
  padding: 5px;
}

.book-card {
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  height: 250px;
  width: 160px;
  margin: 0 auto;
}

ion-grid {
  margin-top: 50px;
}

.genre-history {
  background-color: #a7a044;
}

.genre-fantasy {
  background-color: #009137;
}

.genre-horror {
  background-color: #3f1414;
}

.genre-thriller {
  background-color: #9b6d9b;
}

.genre-nonfiction {
  background-color: #2b2b2b;
}

.genre-drama {
  background-color: #6d0c45;
}

.genre-comedy {
  background-color: #8f5203;
}
