<ion-header>
  <ion-toolbar>
    <ion-title>Add Book</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" padding>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Author</ion-label>
    <ion-input [(ngModel)]="author"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Genre</ion-label>
    <ion-select [(ngModel)]="genre">
      <ion-select-option value="History">History</ion-select-option>
      <ion-select-option value="Fantasy">Fantasy</ion-select-option>
      <ion-select-option value="Horror">Horror</ion-select-option>
      <ion-select-option value="Thriller">Thriller</ion-select-option>
      <ion-select-option value="Nonfiction">Nonfiction</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="rating">
    <ion-icon
      *ngFor="let star of getStarsArray()"
      [name]="starIconName(star)"
      (click)="selectRating(star)"
      class="star-icon"
    ></ion-icon>
  </div>
  <ion-button (click)="addBook()" class="custom-button" shape="round"
    >Add Book</ion-button
  >
</ion-content>
