<ion-header>
  <ion-toolbar>
    <ion-title>Add Book</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" padding>
  <ion-item>
    <ion-label position="stacked">Author</ion-label>
    <ion-input [(ngModel)]="author"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-button (click)="addBook()" class="custom-button" shape="round"
    >Add Book</ion-button
  >
</ion-content>
